<a routerLink="/welcome">go to welcome page</a>
{{users$ | async | json}}
<div>
  <app-user-sorting-buttons (sortFn)="sortFn.next($event)"></app-user-sorting-buttons>
</div>
<div>
  <app-user-display [filteredUser$]="filteredUsers$"
                    [usersNames$]="usersNames$"
                    (selectUser)="selectedUser$.next($event)"></app-user-display>
</div>
<div>
  <app-selected-users [selectedUsers$]="selectedUsers$"></app-selected-users>
</div>
<div>
  <app-user-form (addUser)="addUser.next($event)"></app-user-form>
</div>
<div appCssOnClick cssClass="warning">click me</div>